.content
  position: relative
  padding: 30px 80px
  background-color: #C03118
  border-radius: 30px
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  z-index: 3

.title
  text-align: center

.playerWrapper
  margin-top: 30px
  position: relative
  width: 1000px
  height: 500px
  cursor: pointer

.overlay
  border-radius: 30px

.player
  border-radius: 30px

.close
  position: absolute
  right: 30px
  top: 30px
  font-size: 32px
  cursor: pointer

// Media
@media screen and ( max-width: 1200px )
  .playerWrapper
    width: 700px
    height: 300px

@media screen and ( max-width: 875px )
  .content
    padding: 20px 40px

  .close
    right: 10px
    top: 10px

  .playerWrapper
    margin-top: 10px
    width: 500px
    height: 250px

@media screen and ( max-width: 600px )
  .content
    padding: 10px 20px

  .playerWrapper
    width: 400px
    height: 200px

@media screen and ( max-width: 450px )
  .content
    padding: 5px 10px

  .close
    right: 5px
    top: 5px

  .playerWrapper
    width: 350px
    height: 150px

@media screen and ( max-width: 380px )
  .playerWrapper
    width: 300px
    height: 150px
