.main
  position: relative
  z-index: 2
  background-size: cover
  background-repeat: repeat
  // background-position: center center

.overlay
  top: 0
  left: 0
  position: absolute
  width: 100%
  height: 100%
  mix-blend-mode: difference
  background-size: 120%
  background-position: center center
  z-index: 1
  pointer-events: none

.title
  font-size: 72px
  font-weight: bold
  text-align: center

.wrapper
  position: relative
  width: 100%
  height: 100%

.section
  min-height: 100vh

.toast
  padding: 10px
